html {
    scroll-behavior:smooth;
}


body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.carousel-inner img{
    width: 100%;
}

.carousel .carousel-item{
    height: 500px;
}

    .carousel-item img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 500px;
    }

.container-fluid {
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar nav li a:hover{
    color: #001c00 !important;
}

.gallery {
    width: 100%;

    box-shadow: grey 2px 2px 5px;
}



